@model  List<Loja.Dominio.Produto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaProdutos</title>
</head>
<body>
    <h1>Listagem de Produtos</h1><br /><hr />
    <div> 

        <h3><a href="~/Home/Cadastrar">Cadastrar novo Produto</a></h3><br />

        @if (Model != null)
        {
            foreach (var produto in Model)
            {
                <div class="Personagens" style="display:inline-block; width:200px; height:200px; border:solid; border-color:black; margin-right:10px;">
                    <h2>@produto.Nome</h2>
                    <a href="~/StreetFighter/editarPersonagemEntityFramework?id=@produto.Id"><h6>Editar personagem</h6></a>
                </div>
            }
        }
        else
        {
            <h2>Nenhum personagem cadastrado!</h2>
        }


    </div>
</body>
</html>
