@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="conteudo">
        <div class="corpo">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
