
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Street Fighter</title>
    <meta charset="utf-8">
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>
    <br>
    <div class="nav-bar">
        <table>
            <tr>
                <td><a href="~/StreetFighter/Index">Inicio</a></td>
                <td><a href="~/StreetFighter/Cadastrar">Cadastrar</a></td>
                <td><a href="~/StreetFighter/ListaPersonagens">Lista de Personagens</a></td>
                <td><a href="~/StreetFighter/Sobre">Sobre</a></td>
            </tr>
        </table>
    </div>
    <div class="cabecalho">
        <h2> Street Fighter </h2>
    </div>
    <div>
        @RenderBody()
    </div>

</body>
</html>
