<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Tela login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../css/estilo.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body class="login">

        <header class="cabecalho-login">
            <div class="logo"></div>
            <span>LifeBook</span>
            <span>Sobre</span>
            <span>Cadastrar-se</span>
        </header>

        <div class="conteudo-login">
        <h3>Bem Vindo!</h3>
        <h1>LifeBook</h1>
        <h5>Saiba tudo que está acontecendo no mundo agora</h5>
        <h4>Acesse já!</h4>
        </div>

        <div class="div-login">

            <div class="titulo-login">
                <span class="glyphicon glyphicon-user"></span>
                <span class="tit">Login</span>
            </div>

            <div class="formulario-login">
                <form>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Senha:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="centralizar">
                    <div class="checkbox">
                        <label><input type="checkbox"> Lembrar-me</label>
                    </div>
                    <button type="submit" class="btn btn-success">Entrar</button>
                    </div>
                </form>
                <div class="login-facebook"><a href="#">Login com facebook</a></div>
                <div class="icone-login-facebook" />
                </div>
            </div>
        </div>
    </body>

</html>
