
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu">
    <h1> Rodrigo Scheuer </h1>
    <br>
    <img src="C:\Users\Rodrigo\GitHub\src\modulo-03\Vingança.jpg" alt="V de Vingança">
    <div class="text-float-perfil">

        <p><strong>Primeira aparição:</strong> Projeto Crescer </p>
        <p><strong>Nascimento:</strong> 30 de Dezembro de 1992.</p>
        <p><strong>Altura:</strong> 175cm.</p>
        <p><strong>Peso:</strong> 71kg.</p>
        <p><strong>Medidas:</strong> B150, C100, Q150.</p>
        <p><strong>Tipo sanguíneo:</strong> B+.</p>
        <p><strong>Habilidades especiais:</strong> Programar Java, Piloto de Fuga.</p>
        <p><strong>Gosta:</strong> Frutas, Churrasco, Pizza.</p>
        <p><strong>Desgosta:</strong> vegetais e legumes.</p>
        <p><strong>Estilo de luta:</strong> Luta pela sobrevivência.</p>
        <p><strong>Origem:</strong> Brasil (lugar de nascença Sapucaia do Sul).</p>
        <p><strong>Uma fala de vitória:</strong> "uhuulll!" </p>
        <p><strong>Golpes especiais famosos:</strong> gancho de direita, cabeçada.</p>
    </div>
</div>    
